<h2>About Me</h2>
<img src='/images/me.jpg' height='300' />
<h3>Is that...</h3>
<p>Yes, that mustache is real.</p>

<h3>Nativity and Raising:</h3>
<p>Walnut Creek, California, United States of 'Murica. Raised in Livermore, California on good meat, swimming, skiing, family, and standards.</p>

<h3>What do you mean by standards?</h3>
<p>I mean that music that people fall in love to for no other reason than it was an honest attempt to formulate music and words around the way two people felt about each other. Not this mumbo jumbo which is the majority of modern "music"</p>

<h3>Women?</h3>
<p>Love 'em.</p>

<h3>Do you enjoy a particular woman?</h3>
<p>Yes. Her name is Mariane.</p><br />
<img src='/images/mariane.jpg' height='300' />

<h3>Favorite Piano?</h3>
<p>In no particular order: Yamaha C7, Steinway Model D, then Baldwin Model M. No Contest. Each has a rich sound and astonishingly crisp resonance with which no other piano can compete. These three are truly the top of the line.<br>Don't listen to these la-dee-da's when they try to tell you things about Bösendorfer and Fazioli. It's baloney. Pianos are about sound, feel, and love. Not appearance and intricacy. It's something you play, not something you decorate with.</p>

<h3>Anything else we should know?</h3>
<p class='end'>No.</p>