<html>

  <head>
    <title>GloveMasterFlex</title>
    <link href='/main.css' rel='stylesheet' type='text/css' />
  </head>

  <body>
    <h1>I'm The White Danny Glover</h1>

    <div class='navcontainer'>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/resume'>Resumé</a></li>
        <li><a href='/contact'>Contact</a></li>
      </ul>
    </div>

    <%= yield %>
  </body>

</html>