<h2>My Resumé</h2>

  <h3>Work Experience</h3>

  <ul class='workx'>
    <h4>(2015) Vivint Installation Technician:</h4>
      <li><p>-Installed alarm and home automation systems</p></li>
      <li><p>-Worked in the home with customers to provide comprehensive solution specific to their home</p></li>
    <h4>(2014-15) MozyPro Cloud Storage Product Support Manager:</h4>
      <li><p>-Worked with team of people interested in providing tailored cloud storage packages to small to medium business</p></li>
      <li><p>-Assisted customers in onboarding process of cloud software, trained, and provided continued support</p></li>

  <h3>Qualifications</h3>
  <p class='end'>I learned the best computing languages from the best teachers at the best school in the best city in the best country.</p>